.blocStar {
    display: flex;
}

/* css étoiles */
.emptyStar {
    background-image: url(assets/empty_star.png);
    background-size: contain;
    width: 25px;
    height: 25px;
}

.fullStar {
    background-image: url(assets/star_full.png);
    background-size: contain;
    width: 25px;
    height: 25px;
}

.blocStar {
    margin-left: 1rem;

}

.formHeader .formLabel {
    padding-top: 0.15rem;
}

/* fin css étoiles */

/* css form */
.formContainers {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    /* modification du width pour que ça rentre dans la version mobile */
    width: 90%;
    margin: auto;
}


.formHeader {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.formLabel {
    color: var(--primaryColor);
    font-family: var(--contentFont);
    text-shadow: 1px 2px 2px darkgray;
}

.formChamp {
    line-height: 1.25rem;
}

.formContainer {
    border-radius: 0.35rem;
    border-width: 1px;
    border-color: var(--primaryColor);
    margin-bottom: 1rem;
    width: 100%;
    min-width: 200px;
    box-shadow: 2px 2px 4px darkgrey;
}

@media screen and (min-width :817px) {
    .formContainer {
        border-radius: 0.35rem;
        border-width: 1px;
        border-color: var(--primaryColor);
        margin-bottom: 1rem;
        width: 100%;
        min-width: 200px;
        box-shadow: 2px 2px 4px darkgrey;
    }
}

.formButton {
    border: 1px solid #616161;
    width: 10rem;
    line-height: 1.5;
    padding: 0 20px;
    border-radius: 0.35rem;
    text-align: center;
    color: var(--primaryColor);
    font-family: var(--contentFont);
    box-shadow: 2px 2px 4px darkgrey;

}


/* fin css form */

/* css com display */
.commentBoxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* réduction de la taille de l'encadrement des commentaires afin de le centrer sur le formulaire */
    width: 90%;
}

@media screen and (min-width:817px) {
    .commentBoxes {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.commentBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
    width: 230px;
    height: auto;
    border-radius: 0.45rem;
    border-bottom-left-radius: 1.5em;
    border-top-right-radius: 1.5rem;
    background-color: white;
    box-shadow: 1px 3px 4px darkgray;
}

.commentBoxHeader {
    display: flex;
    justify-content: space-between;
}

.commentBoxHeaderContent {
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--primaryColor);
    font-family: var(--contentFont);
    text-shadow: 1.5px 0px 2px darkgray;

}

.commentBoxContent {
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
    margin: 0.5rem;
    color: var(--primaryColor);
    font-family: var(--contentFont);
}

.commentBoxFooter {
    display: flex;
    justify-content: flex-end;
    color: var(--primaryColor);
    font-family: var(--contentFont);
    margin-left: 1rem;
    margin-right: 1rem;
}

::placeholder {
    opacity: 0.5;
}

:focus::placeholder {
    opacity: 0;
}

/* fin css com display */

/* début css popup */

.mailList {
    list-style: none;
    margin: 1rem;
}

.popIn {
    display: none;
}

.popOut {
    position: fixed;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    background-color: rgba(40, 40, 40, 0.8);
    z-index: 3;
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.popContent {
    max-height: 60vh;
    max-width: 50vw;
    background-color: var(--secondaryColor);
    margin-top : 10vh;
    border-radius: 3px;
    border : 3px solid var(--secondaryColor);
    box-shadow: 2px 2px 5px black;
}

.closeButton {
    background-color: rgba(40, 40, 40, 0.8);
    font-family: var(--contentFont);
    color: var(--secondaryColor);
    text-shadow: 1px 2px 2px black;
    border: 1px solid var(--secondaryColor);
    width: 3rem;
    text-align: center;
    padding: 4px;
    border-radius: 3px;
    margin: 1rem;
    margin-left: 0;
    box-shadow: 0px 2px 5px black;
    cursor: pointer;
}

.popMail{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    background-color: rgba(40, 40, 40, 0.8);
    z-index: 3;
}

.popContentMail h2{
    font-size: 0.8rem;
    text-shadow: 1px 1px 2px black;
}

.popContentMail {
    width: 50vw ;
    background-color: rgba(40, 40, 40, 0.8);
    color : var(--secondaryColor);
    font-size: 0.8rem;
    padding-left: 1rem;
    margin-top : 10vh;
    border-radius: 8px;
    border : 2px solid var(--secondaryColor);
    box-shadow: 2px 2px 5px black;
}

@media screen and (min-width: 817px) {
    .popContentMail h2{
        font-size: 1.2rem;
    }

    .popContentMail{
        font-size: 1rem;
    }
    
}

.buttonDiv{
    margin-left: 3rem;
}


/* .bodyBlurrOn{
    filter: blur(4px);
    z-index: 0;
}
.bodyBlurrOff{
    filter: none;
} */