.expression > h1{
  display : flex;
  justify-content: center;

}
.playerComment {

    font-family: var(--contentFont);
}

.expressionPlayerAudio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.expressionPlayerAudio > article{
    font-family: var(--contentFont);
}
.expressionOrale{
    box-sizing: border-box;
    display : grid;
    grid-template-columns: repeat(2, 200px);
    gap : 30px;
}

@media screen and (min-width: 320px){
  .expressionOrale{
    grid-template-columns: repeat(3, 200px);
  }
}

.expressionTitre{
  font-family: var(--titeFont);
  text-align: center;
  align-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
  font-family:var(--titleFont);
  
}

@media screen and (min-width: 320px){
  .expressionTitre{
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.expressionTitreExplication{
  text-align: center;
  align-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
  font-style : italic;
  font-weight: 100;
  font-size: small;

}

@media screen and (min-width: 320px){
  .expressionExplication{
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

  .card-img-0 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
  }

  .card-img-1 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 200px;
    width: 100%; */
  }

  .card-img-2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
  }

  .card-img-3 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
  }

  .card-img-4 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  }

  .card-img-5 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
  }

  .card-img-6 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media screen and (min-width: 320px){
    .card-img-6{
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

