div.expressionPlayerAudio{
    display : flex;
    flex-direction: column;
    align-content: center;
}
div.expressionPlayerAudio > figure {


}

/* .playerComment{
    display: flex;
    justify-content: center;
} */