
section.expressionPlayerAudio > h2 {
    font-family: var(--titeFont) ;
}

div.expressionPlayerAudio{
    display : flex;
    flex-direction: column;
    align-items: center;
}


/* .playerComment{
    display: flex;
    justify-content: center;
} */