:root {

    --primaryColor: rgb(43, 43, 43);

    --secondaryColor: #fffaed;

    --titleFont: Apple Chancery, Cursive;

    --contentFont: Verdana, Optima, sans-serif;

}

body {
    width: 80vh;
    margin: auto;
    background-color: var(--secondaryColor);
    display: grid;
    grid-template-rows: 175px auto 150px;
    font-family: var(--contentFont);
}

main {
    background-color: grey;

}

h1 {
    font-family: var(--titleFont);
}