/* import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Alkalami");

:root {

    --primaryColor: rgb(43, 43, 43);

    --secondaryColor: #fffaed;

    --titleFont: 'Alkalami', serif;

    --contentFont: Verdana, Optima, sans-serif;

}

body {
    margin: 0;
    background-color: var(--secondaryColor);
}

section {
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

section:nth-child(2n+2) {
    background-color: var(--primaryColor);
}


section p {
    width: 90%;
}

h1 {
    font-family: var(--titleFont);
    font-size: 2rem;
    background-image: url("decoPictures/violon_color.png");
    background-repeat: no-repeat;
    padding-left: 3rem;
    padding-top: 6px;
    height: 90px;
}

.archet {
    width: 350px;
    margin: auto;
    margin-bottom: 2rem;
    display: block;
    transform: rotate(-10deg);
}

#expression,
#presentation,
#commentaires {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}

#carrousel,
#empreinte {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);

}

@media only screen and (min-device-width : 1024px) {
    body {
        background-image: url("decoPictures/bg.jpg");
        display: grid;
        grid-template-rows: 260px auto 150px;
        font-family: var(--contentFont);
        width: 80%;
        margin: auto;
    }

    main {
        background-color: var(--secondaryColor);
        background-size: contain;
        display: flex;
        flex-direction: column;
    }

    section {
        width: 80%;
        margin: auto;
        background-color: var(--secondaryColor);
        color: var(--secondaryColor);
    }

    #expression,
    #presentation,
    #commentaires,
    #carrousel,
    #empreinte {
        background-color: var(--secondaryColor);
        color: var(--primaryColor);

    }
}