#bodyCarrousel {
    width: 100%;
    height: auto;
    border: solid 4px var(--secondaryColor);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin: auto;
    z-index: 2;
}

@media screen and (min-width: 320px) {
    #bodyCarrousel {
        width: 800px;
        height: auto;
        border: solid 4px var(--secondaryColor);
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        position: relative;
        margin: auto;
        z-index: 2;
    }
}

#carrouselContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 320px) {
    #carrouselContainer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;


    }
}

.arthurPicturesCarrousel {
    width: 100%;
    height: auto;
    display: inline-block;
    background-size: cover;
}

@media screen and (min-width: 320px) {
    .arthurPicturesCarrousel {
        width: 800px;
        height: 400px;
        display: inline-block;
        background-size: cover;
    }
}

.boutonCarrousel {
    position: absolute;
    width: 40px;
    cursor: pointer;
    top: 75px;

}

@media screen and (min-width: 320px) {
    .boutonCarrousel {
        position: absolute;
        width: 70px;
        cursor: pointer;
        top: 150px;

    }
}


#boutonCarrouselLeft {
    left: 0;
    opacity: 0.4;
    transform: rotate(0deg);
    transition: all 0.3s ease;

}

#boutonCarrouselRight {
    right: 0;
    opacity: 0.4;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

#boutonCarrouselLeft:hover {
    transform: rotate(0deg) scale(1.1);
    opacity: 1;
    transition: all 0.3s ease;
}

#boutonCarrouselRight:hover {
    transform: rotate(180deg) scale(1.1);
    opacity: 1;
    transition: all 0.3s ease;
}