:root {

    --primaryColor: rgb(43, 43, 43);

    --secondaryColor: #fffaed;

    --titleFont: Apple Chancery, Cursive;

    --contentFont: Verdana, Optima, sans-serif;

}

body {

    background-image: url("decoPictures/bg.jpg");
    display: grid;
    grid-template-rows: 200Px auto 150px;
    font-family: var(--contentFont);
}

main {
    background-color: var(--secondaryColor);
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-family: var(--titleFont);
}

section {
    width: 80%;
    margin: auto;

}

section p {
    font-size: 2rem;

}


.archet {
    width: 300px;
    margin: 1rem;

}

@media screen and (min-width:769px) {
    body {
        width: 80%;
        margin: auto;
    }

    section p {
        font-size: 1rem;
    }

    #presentation div {
        display: flex;
        margin: 1rem;
    }
}