header {
    display: flex;
    flex-direction: column;
}

header ul {
    list-style-type: none;
    margin: -3px;
}

#headerNavMobile {
    width: 100%;
    background-color: var(--primaryColor);
    display: none;
}

#headerNavMobile a {
    color: var(--secondaryColor);
    text-decoration: none;
    font-size: 2.5rem;
    padding: .5rem;
    font-family: var(--titleFont);
}

#headerNavDesk {
    display: none;
}

#navButtonMobile {
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: black;
    position: fixed;
    background-image: url("decoPictures/headerDesk.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

#navButtonMobile img {
    padding: 1rem;
}

#navButtonMobile img:first-child {
    width: 50px;
}

#navButtonMobile img:last-child {
    width: 30px;
}


#presentation {
    padding-top: 5rem;
}

.button {
    width: 70px;
}

nav #close {
    color: var(--secondaryColor);
    padding: 1rem;
    width: 10px;
    margin: auto;
    opacity: 0.5;
}

@media only screen and (min-device-width : 817px) {
    header a {
        text-decoration: none;
        color: var(--secondaryColor);
        font-family: var(--titleFont);
        font-size: 3rem;
        text-shadow: 4px 1px 2px black;
        display: none;
    }

    #ligns {
        position: absolute;
        width: 74%;
        padding-top: 1rem;
        padding-left: 4.18rem;
    }

    #navButtonMobile {
        display: none;
    }

    #headerNavMobile {
        display: none;
    }

    #headerNavDesk {
        display: block;
        display: block;
        margin-top: 0rem;
        margin-left: 2rem;
        padding-top: 1rem;
    }

    #navButtonDesk {
        z-index: 1;
        width: 100%;
        height: 260px;
        background-image: url("decoPictures/headerDesk.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: black;
        background-position: bottom;
    }

    #navButtonDesk img:nth-child(1) {
        padding-top: 1rem;
    }

    .headerNavLign {
        width: 0;
        border-bottom: 1px solid var(--secondaryColor);
        margin: 0px;
        margin-bottom: 7px;
        transition-property: width;
        transition-duration: 2s;
    }

    .headerNavLignMax {
        width: 95%;
    }

    #headerNavName {
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-top: -2.5rem;
    }

    #headerNavName div {
        background-color: transparent;
        padding-right: 1.5rem;
        margin-top: -0.6rem;
    }

    .navItem {
        opacity: 0;
    }

    .navItemApparition {
        opacity: 1;
        transition-property: opacity;
        transition-duration: 4s;
        text-decoration: none;
    }

}